.email__label {
    color: #6b6868;
    font-size: 18px;
}

.email__input {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 35px;
    width: 100%;
    border: 2px #f3eded4f solid;
    border-radius: 8px;

    &:hover {
        background-color: #f3f3f3;
    }
}

.remember__checkbox {
    cursor: pointer;
    display: none;

    &:checked {
        height: 40px;
        width: 40px;
        +label {
            &:before {
                background-color: #39ACE7;
                border: 0;
            }

            &:after {
                content: "";
                position: absolute;
                top: 5px;
                left: 7px;
                height: 5px;
                width: 10px;
                border-left: 1px #ffffff solid;
                border-bottom: 1px #ffffff solid;
                transform: rotate(-45deg);
            }
        }
    }
}

.email__checkbox__label {
    padding-top: 2px;
    padding-left: 3em;
    color: #474747;
    cursor: pointer;
    font-size: 15px;
    position: relative;

    &:before {
        content: "";
        height: 20px;
        width: 20px;
        border: 1px lightgrey solid;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 2px;
    }
}